{% extends "index.html" %}

{% block content %}
<section class="post-show">
    {{ fragment('post_show', post_id) }}
    <section class="comments">
        {{ fragment('comments_list', post_id, page) }}
        <dl>
        {% if current_user.is_authenticated() %}
            <dt>Add new comment here</dt>
            <dd>
                <form action="{{ url_for('post', post_id=post_id, page=page) }}" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="post-body">{{ form.body() }}</div>
                    <input type="submit" value="Save">
                </form>
            </dd>
        {% else %}
            <dt>You must login if you want to leave a comment.</dt>
        {% endif %}
        <dl>
    </section>
</section>
{% endblock %}